:root {
  /* color */

  --orange: #ff9900;
  --orange-hover: #ffb84d;
  --orange-active: #e1670e;
  --green: #97ee3f;

  --white: #fff;
  --light-gray: #cacaca;
  --bg-opacity: rgba(0, 0, 0, 0.50);
  --gray: #666666;
  --dark-gray: #414141;
  --black: #000;

  /* settings */

  --transition: 0.3s;

  --gap: 32px;
  --sections-offset: 100px;

}
