.about {
  margin-bottom: var(--sections-offset);
}

.about__title {
  margin-bottom: 22px;
}

.about__descr {
  margin-bottom: 49px;
  max-width: 1235px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: var(--black);
}

.about__wrap {
  gap: 32px;
}

.about__left {
  flex-basis: 50%;
}

.about__card-main {
  align-items: flex-end;
  min-height: 100%;
  border-radius: 32px;
  background-image: url('../../image/bg-card-main.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content-main {
  width: 100%;
  padding: 50px;
  border-radius: inherit;
  background-color: var(--bg-opacity);
}

.about__card-descr-main {
  max-width: 433px;
  margin-right: auto;

  font-size: 16px;;
  font-weight: 700;
  line-height: 32px; /* 200% */
  color: var(--white);
}

.about__btn {
  align-self: center;

  padding: 18px 35px;
  border: 3px solid var(--orange);
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: var(--white);
  transition: border var(--transition),
              background-color var(--transition);
}

.about__btn:focus {
  outline: none;
  background-color: var(--orange);
}

@media (min-width: 992px) {
  .about__btn:hover {
    background-color: var(--orange);
  }
}

.about__btn:active {
  border: 3px solid var(--orange-active);
  background-color: var(--orange-active);
}

.about__right {
  flex-direction: column;
  flex-basis: 50%;
  gap: 32px;
}

.about__card {
  align-items: center;
  padding-left: 60px;
  max-width: 870px;
  min-height: 295px;
  gap: 32px;
  border-radius: 32px;
  border: 1px solid var(--light-gray);
}

.about__card-wrap {
  gap: 50px;
}

.about__card-img {
  align-self: flex-start;
  max-width: 190px;
  object-fit: contain;
}

.about__content {
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 452px;
}

.about__card-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: var(--black);
}

.about__card-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: var(--black);
}
