.questions {
  margin-bottom: var(--sections-offset);
}

.questions__title {
  margin-bottom: 31px;
}

.questions__cards {
  --offsets: 2;
  flex-wrap: wrap;
  gap: 32px;
}

.questions__card {
  flex-direction: column;
  padding-top: 64px;
  padding-left: 59px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border-radius: 32px;
  border: 1px solid var(--light-gray);
}

.questions__content {
  max-width: 450px;
  margin-right: 65px;
  margin-bottom: 63px;
}

.questions__content-title {
  margin-bottom: 9px;
  max-width: 412px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--black);
}

.questions__content-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  color: var(--black);
}
